OTS2000/system/mmslite/mvl/usr/logcfg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.0 (http://www.xmlspy.com) (SISCO)           -->
<!--W3C Schema generated by XML Spy v4.0 (http://www.xmlspy.com)        -->

<!-- ****************************************************************** -->
<!-- * SISCO MODULE HEADER ******************************************** -->
<!-- ****************************************************************** -->
<!-- *   (c) Copyright Systems Integration Specialists Company, Inc.,   -->
<!-- *                      2001, All Rights Reserved                   -->
<!-- *                                                                  -->
<!-- * MODULE NAME : LogCfg.xsd                                         -->
<!-- * PRODUCT(S)  : MMS-Lite                                           -->
<!-- *                                                                  -->
<!-- * MODULE DESCRIPTION :                                             -->
<!-- *    Schema (XSD) File for MMS-Lite Logging Configuration          -->
<!-- *    Files.  This module can be utilized by any                    -->
<!-- *    MMS-Lite Logging Configuration File in XML format,            -->
<!-- *    such as 'LogCfg.xml'.                                         -->
<!-- *                                                                  -->
<!-- * MODIFICATION LOG :                                               -->      
<!-- *  Date     Who    Rev                   Comments                  -->      
<!-- * ========  ===    ===  =========================================  -->			   
<!-- * 01/23/02  GLB     05   Made everything but LogControl optional	-->
<!-- * 01/10/02  GLB     04   Update definitions                        -->
<!-- * 11/05/01  GLB     03   Added MITEST_...,  ICFG_...,              -->
<!-- *                        CLNP_LOG_ENC_DEC & CLNP_LOG_LLC_ENC_DEC   -->
<!-- * 10/15/00  GLB     02   Initial release                           -->
<!-- * 06/01/01  GLB     01   Generated by XML Spy v4.0                 -->
<!-- *                          (http://www.xmlspy.com)                 -->
<!-- ****************************************************************** -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<!-- ****************************************************************** -->
<!-- *  LOG_CFG                                                       * -->
<!-- ****************************************************************** -->
	<xsd:element name="LOG_CFG">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SxLogMasks"   minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="LogControl"/>
				<xsd:element ref="UserLogMasks" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="Asn1LogMasks" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="MmsLogMasks"  minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="MvlLogMasks"  minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="AcseLogMasks" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="Tp4LogMasks"  minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="ClnpLogMasks" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="AdlcLogMasks" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="SmpLogMasks"  minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="MemLogMasks"  minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="IcfgLogMasks" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="MiLogMasks"   minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="MemAllocDbgCtrl" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

<!-- ****************************************************************** -->
<!-- *  SxLogMasks                                                    * -->
<!-- ****************************************************************** -->
	<xsd:element name="SxLogMasks">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SX_LOG_NERR"  type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="SX_LOG_DEC"   type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="SX_LOG_ENC"   type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="SX_LOG_FLOW"  type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="SX_LOG_DEBUG" type="BooleanState" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

<!-- ****************************************************************** -->
<!-- *  LogControl                                                    * -->
<!-- ****************************************************************** -->
	<xsd:element name="LogControl">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="LogFileAttributes"/>
				<xsd:element ref="LogMemoryAttributes"/>
				<xsd:element ref="MiscControlFlags"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

<!-- ****************************************************************** -->
<!-- *  LogFileAttributes                                             * -->
<!-- ****************************************************************** -->
	<xsd:element name="LogFileAttributes">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="LogFileEnable" type="BooleanState"/>
				<xsd:element name="LogFileSize"   type="xsd:nonNegativeInteger"/>
				<xsd:element name="LogFileName"   type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

<!-- ****************************************************************** -->
<!-- *  LogMemoryAttributes                                           * -->
<!-- ****************************************************************** -->
	<xsd:element name="LogMemoryAttributes">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="LogMemoryEnable" type="BooleanState"/>
				<xsd:element name="LogMemoryItems"  type="xsd:nonNegativeInteger"/>
				<xsd:element name="MemoryFileName"  type="xsd:string"/>
				<xsd:element name="MemoryFileDump"  type="BooleanState"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

<!-- ****************************************************************** -->
<!-- *  MiscControlFlags                                              * -->
<!-- ****************************************************************** -->
	<xsd:element name="MiscControlFlags">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="TimeEnable"     type="xsd:string"/>
				<xsd:element name="DestroyOldFile" type="BooleanState"/>
				<xsd:element name="Setbuf"         type="BooleanState"/>
				<xsd:element name="MsgHeader"      type="BooleanState"/>
				<xsd:element name="Wipe"           type="BooleanState"/>
				<xsd:element name="Wrap"           type="BooleanState"/>
				<xsd:element name="HardFlush"      type="BooleanState"/>
				<xsd:element name="HeaderCr"       type="BooleanState"/>
				<xsd:element name="HeaderFilename" type="BooleanState"/>
				<xsd:element name="HeaderLogType"  type="BooleanState"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

<!-- ****************************************************************** -->
<!-- *  UserLogMasks                                                  * -->
<!-- ****************************************************************** -->
	<xsd:element name="UserLogMasks">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="USER_LOG_CLIENT" type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="USER_LOG_SERVER" type="BooleanState" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

<!-- ****************************************************************** -->
<!-- *  Asn1LogMasks                                                  * -->
<!-- ****************************************************************** -->
	<xsd:element name="Asn1LogMasks">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ASN1_LOG_NERR" type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ASN1_LOG_DEC"  type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ASN1_LOG_ENC"  type="BooleanState" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

<!-- ****************************************************************** -->
<!-- *  MmsLogMasks                                                   * -->
<!-- ****************************************************************** -->
	<xsd:element name="MmsLogMasks">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MMS_LOG_NERR" type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="MMS_LOG_DEC"  type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="MMS_LOG_ENC"  type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="MMS_LOG_RT"   type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="MMS_LOG_RTAA" type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="MMS_LOG_AA"   type="BooleanState" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

<!-- ****************************************************************** -->
<!-- *  MvlLogMasks                                                   * -->
<!-- ****************************************************************** -->
	<xsd:element name="MvlLogMasks">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MVLLOG_NERR"     type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="MVLLOG_ACSE"     type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="MVLLOG_ACSEDATA" type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="MVLULOG_FLOW"    type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="MVLULOG_DEBUG"   type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="MVLULOG_TIMING"  type="BooleanState" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

<!-- ****************************************************************** -->
<!-- *  AcseLogMasks                                                  * -->
<!-- ****************************************************************** -->
	<xsd:element name="AcseLogMasks">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ACSE_LOG_ENC"     type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ACSE_LOG_DEC"     type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ACSE_NERR_PRINT"  type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ACSE_IND_PRINT"   type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ACSE_CNF_PRINT"   type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ACSE_DEC_PRINT"   type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ACSE_ABORT_PRINT" type="BooleanState" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

<!-- ****************************************************************** -->
<!-- *  Tp4LogMasks                                                   * -->
<!-- ****************************************************************** -->
	<xsd:element name="Tp4LogMasks">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="TP4_LOG_FLOWUP"   type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="TP4_LOG_FLOWDOWN" type="BooleanState" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

<!-- ****************************************************************** -->
<!-- *  ClnpLogMasks                                                  * -->
<!-- ****************************************************************** -->
	<xsd:element name="ClnpLogMasks">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CLNP_LOG_NERR"        type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="CLNP_LOG_REQ"         type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="CLNP_LOG_IND"         type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="CLNP_LOG_END_DEC"     type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="CLNP_LOG_LLC_ENC_DEC" type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="CLSNS_LOG_REQ"        type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="CLSNS_LOG_IND"        type="BooleanState" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

<!-- ****************************************************************** -->
<!-- *  AdlcLogMasks                                                  * -->
<!-- ****************************************************************** -->
	<xsd:element name="AdlcLogMasks">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ADLC_LOG_NERR"    type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ADLC_LOG_FLOW"    type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ADLC_LOG_IO"      type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ADLC_LOG_HEXIO"   type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ADLC_LOG_SM"      type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ADLC_LOG_HEXSM"   type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ADLC_LOG_USER"    type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ADLC_LOG_HEXUSER" type="BooleanState" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

<!-- ****************************************************************** -->
<!-- *  SmpLogMasks                                                   * -->
<!-- ****************************************************************** -->
	<xsd:element name="SmpLogMasks">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SMP_LOG_REQ" type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="SMP_LOG_IND" type="BooleanState" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

<!-- ****************************************************************** -->
<!-- *  IcfgLogMasks                                                  * -->
<!-- ****************************************************************** -->
	<xsd:element name="IcfgLogMasks">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ICFG_LOG_NERR"  type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ICFG_LOG_FLOW"  type="BooleanState" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<!-- ****************************************************************** -->
<!-- *  MiLogMasks                                                    * -->
<!-- ****************************************************************** -->
	<xsd:element name="MiLogMasks">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MI_LOG_NERR"  type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="MI_LOG_FLOW"  type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="MI_LOG_DEBUG" type="BooleanState" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

<!-- ****************************************************************** -->
<!-- *  MemLogMasks                                                   * -->
<!-- ****************************************************************** -->
	<xsd:element name="MemLogMasks">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MEM_LOG_CALLOC"  type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="MEM_LOG_MALLOC"  type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="MEM_LOG_REALLOC" type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="MEM_LOG_FREE"    type="BooleanState" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


<!-- ****************************************************************** -->
<!-- *  MemAllocDbgCtrl                                               * -->
<!-- ****************************************************************** -->
	<xsd:element name="MemAllocDbgCtrl">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MemFillEnable"    type="xsd:string"   minOccurs="0" maxOccurs="1"/>
				<xsd:element name="MemHeapCheck"     type="xsd:string"   minOccurs="0" maxOccurs="1"/>
				<xsd:element name="CheckListEnable"  type="BooleanState" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="FindNodeEnable"   type="xsd:string"   minOccurs="0" maxOccurs="1"/>
				<xsd:element name="TrackPrevFree"    type="xsd:string"   minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ListDebugSel"     type="xsd:string"   minOccurs="0" maxOccurs="1"/>
				<xsd:element name="NoReallocSmaller" type="xsd:string"   minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



<!-- ******************************************************************* -->
<!-- *  Element Types                                                  * -->
<!-- ******************************************************************* -->

<!-- ****************************************************************** -->
<!-- *  BooleanState                                                  * -->
	<xsd:simpleType name="BooleanState">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ON"/>
			<xsd:enumeration value="OFF"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
